@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

/* font-family: 'Open Sans', sans-serif; */

* {
  padding: 0;
  margin: 0;
}

:root {
  --blue-color: #005f7b;
  --dark-grey-color: #404040;
  --light-grey-color: #d1d1d1;

  --headline-font: "termina", sans-serif;
  --text-font: "Open Sans", sans-serif;
}

body {
  font-family: var(--text-font);
  font-style: normal;
  font-weight: 400;
  background-color: white;
  color: #404040;
}

/* HEADER STYLE---------------------------------------------------------->*/

header {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: relative;
}

.background-header {
  width: 100%;
  height: 100%;
  position: absolute;
}

#videoBG {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.background-header img {
  max-width: 100%;
}

.navbar-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 12vh;
}

.nav-colored {
  background-color: #fff;
  transition: background-color 200ms linear;
}
.nav-transparent {
  background-color: transparent;
}
.nav-shadow {
  box-shadow: -1.095px 6.914px 12.96px 3.04px rgba(51, 51, 51, 0.27);
}

.logo-img {
  width: 40px;
  padding-top: 0.5rem;
}

.navbar {
  padding: 1rem;
}

.nav-ul {
  display: flex;
}

.nav-item {
  list-style: none;
  margin-top: 1rem;
}

.nav-link {
  text-decoration: none;
  color: var(--dark-grey-color);
  padding: 1rem;
  font-family: var(--text-font);
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--light-grey-color);
}

.nav-img-item {
  list-style: none;
  padding-right: 2rem;
  padding-left: 2rem;
}

/* MAIN STYLE ----------------------------------------------------------->*/

main {
  width: 100%;
}

/* sections style -------------------------->*/
#form-section {
  height: 130vh;
  background-color: white;
}

#about-section {
  height: 130vh;
  background-color: var(--light-grey-color);
}

#contact-section {
  height: 100vh;
}

.info-text-wrapper {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.info-text-wrapper h2 {
  font-family: var(--headline-font);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: var(--blue-color);
}

.info-text-wrapper p {
  width: 60vw;
}

.form-section-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10vh;
}

.signup-trial-form {
  width: 25rem;
  height: 32rem;
  box-shadow: -1.095px 6.914px 12.96px 3.04px rgba(51, 51, 51, 0.27);
  border-radius: 2px;
  background-color: var(--light-grey-color);
  padding: 2rem;
}

.info-video-wrapper {
  width: 50vw;
}

.video-container {
  width: 39.4vw;
  height: 22.125vw;
  box-shadow: -1.095px 6.914px 12.96px 3.04px rgba(51, 51, 51, 0.27);
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* form style ------------------------------>*/

.form-elements {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sign-up-headline {
  font-family: var(--headline-font);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  color: var(--dark-grey-color);
}

form p {
  font-size: 0.8rem;
  padding-bottom: 1rem;
}

#first-name {
  background-color: whitesmoke;
  border: none;
  height: 1.5rem;
  border-radius: 20px;
}

#last-name {
  background-color: whitesmoke;
  border: none;
  height: 1.5rem;
  border-radius: 20px;
}

#enter-email {
  background-color: whitesmoke;
  border: none;
  height: 1.5rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}

#solo-trial {
  margin-bottom: 1rem;
}

#booking-date {
  background-color: whitesmoke;
  border: none;
  height: 0.8rem;
  padding: 0.5rem;
  width: 50%;
  border-radius: 20px;
  margin-bottom: 1.5rem;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  background-color: var(--blue-color);
  padding: 10px;
  color: #fff;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-family: var(--headline-font);
  font-size: 18px;
  font-weight: 500;
  width: 70%;
}

/* About style ----------------------------------------------------------->*/

.about-memover {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.about-memover h2 {
  font-family: var(--headline-font);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: var(--blue-color);
  margin-bottom: 1rem;
}

.about-memover h3 {
  font-family: var(--headline-font);
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.about-memover p {
  width: 60vw;
  margin-bottom: 1.5rem;
}

/* FOOTER STYLE ---------------------------------------------------------->*/

footer {
  height: 50vh;
  width: 100%;
  background-color: var(--dark-grey-color);
}

/* RESPONSIVENESS ------------------------------------------------------->*/

@media (max-width: 900px) {
  .form-section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    padding-top: 10vh;
  }

  .info-text-wrapper h2 {
    font-size: 2rem;
  }

  .info-text-wrapper p {
    width: 80vw;
  }

  .about-memover p {
    width: 80vw;
  }

  .signup-trial-form {
    width: 80vw;
    height: 32rem;
  }

  .video-container {
    width: 78.8vw;
    height: 44.25vw;
  }

  #form-section {
    height: 175vh;
    background-color: white;
  }

  #about-section {
    height: 210vh;
  }
}

@media (max-width: 700px) {
  .nav-link {
    font-size: 0.8rem;
    padding: 1.2vw;
  }

  .logo-img {
    max-width: 25px;
  }

  .nav-img-item {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media (max-width: 576px) {
  header {
    height: 40vh;
  }
}

@media (max-width: 400px) {
  .nav-link {
    font-size: 1.8vw;
    padding: 1vw;
  }

  .logo-img {
    max-width: 25px;
  }
}
